<div class="comment-row">
  <div class="above">
    <div class="comment-name"><a herf="#"><%= name %></a></div>
    <div class="comment-created-at"><%= formatted_date %></div>
  </div>
  <div class="body">
    <div class="comment-text"><%= text %></div>
  </div>
  <div class="below"></div>
</div>