extends layout
block header
block content
  #webpage
    .inner
      iframe(src="http://jade-lang.com/reference/")
  #comments
    #comments-table
      #comments-table-inner.inner
    #comment-area
      hr
      #comment-group
        .above
          textarea#comment-textarea.form-control(type="text", wrap="hard")
        .below
          button#comment-add-button.btn.btn-default(type="button")
            span.glyphicon.glyphicon-pushpin
          button#comment-send-button.btn.btn-primary(type="button")
            | 送信
block footer